html
  head
    title= t('brand') + ' - ' + t('listing.title', { category: cat })
  body
    p= t('listing.description', { category: cat })
    ul
      each poi in pois
        li
          include poi-annuaire.pug
      if page > 0
        li: a(href=paginatedUrl + (page-1))= t('listing.previous')
      if pois.length >= elementPerPage
        li: a(href=paginatedUrl + (page+1))= t('listing.next')
